<ion-view view-title="本地生活服务" id="tour-view">
    <!--<ion-content>-->
        <ion-slide-box>
            <ion-slide>
                <i class="icon ion-document-text slide-icon calm"></i>
                <br/>
                <br/>
                <br/>
                我的预定
            </ion-slide>
            <ion-slide>
                <i class="icon ion-ios-sunny slide-icon calm"></i>
                <br/>
                <br/>
                <br/>
                天气预报
            </ion-slide>
            <ion-slide>
                <i class="icon ion-fork slide-icon calm"></i>
                <br/>
                <br/>
                <br/>
                附近餐馆
                <br/>
                <br/>
                <br/>
                <button class="button button-balanced button-outline" ui-sref="home">Enter</button>
            </ion-slide>
        </ion-slide-box>
    <!--</ion-content>-->
</ion-view>